<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Curso</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Editar Curso</h1>
    <div class="btn-group">
        <a href="/courses/list" class="btn">Voltar para Lista</a>
    </div>
</header>

<div class="container">
    <form th:action="@{/courses/edit/{id}(id=${courseDTO.id})}" th:object="${courseDTO}" method="post">
        <div>
            <label for="courseName">Nome do Curso:</label>
            <input type="text" id="courseName" th:field="*{name}" required>
        </div>
        <div>
            <button type="submit">Atualizar Curso</button>
        </div>
    </form>
</div>

<footer>
    <p>&copy; 2024 Plataforma de Cursos</p>
</footer>
</body>
</html>
