<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Editar Curso</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<header>
    <h1 th:text="${titulo}">Editar Curso</h1>
</header>

<div class="form-container">
    <h1 th:text="${titulo}">Formulário de Curso</h1>
    <form th:action="@{/courses/editar/{id}(id=${course.id})}" th:object="${course}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="courseName">Nome do Curso:</label>
        <input type="text" id="courseName" th:field="*{name}" required/><br/>

        <label for="courseDuration">Duração do Curso (em horas):</label>
        <input type="number" id="courseDuration" th:field="*{duration}" min="1" required/><br/>

        <label for="courseDescription">Descrição do Curso:</label>
        <textarea id="courseDescription" th:field="*{description}" rows="4" maxlength="1000" required></textarea><br/>

        <button type="submit" class="btn btn-submit">Salvar Alterações</button>
    </form>
    <br>
    <a th:href="@{/courses}" class="btn btn-cancel">Voltar para a Lista</a>
</div>

<footer>
    <p>&copy; 2024 Plataforma de Cursos</p>
</footer>
</body>
</html>
