<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Editar Curso</title>
</head>
<body>
<header>
    <h1>Editar Curso</h1>
</header>

<div class="container form-container">
    <form action="/courses/{id}" method="PUT"> <!-- Substitua {id} pelo ID do curso -->
        <label for="name">Nome do Curso:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Descrição:</label>
        <input type="text" id="description" name="description" required>

        <button type="submit">Atualizar Curso</button>
    </form>
</div>
<a class="btn" href="/home">Página Inicial</a>

<footer>
    <p>&copy; 2024 Sistema de Cursos</p>
</footer>
</body>
</html>
