<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home - Sistema de Cursos</title>
</head>
<body>
<header>
    <h1>Bem-vindo ao Sistema de Cursos</h1>
    <div class="btn-group">
        <a class="btn" th:href="@{/courses/cadastrar}">Adicionar Curso</a>
        <a class="btn" th:href="@{/courses/my}">Meus Cursos</a>
    </div>
</header>

<div class="container">
    <h2>Lista de Cursos</h2>
    <p>Explore e gerencie seus cursos!</p>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Curso</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}">ID</td>
            <td th:text="${course.name}">Nome do Curso</td>
            <td>
                <a th:href="@{/courses/{id}/edit(id=${course.id})}" class="btn">Editar</a>
                <a th:href="@{/courses/{id}/delete(id=${course.id})}" class="btn">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer>
    <p>&copy; 2024 Sistema de Cursos</p>
</footer>
</body>
</html>
